{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "no-console": "off",
    "no-await-in-loop": "off",
    "operator-assignment": "off",
    "unicorn/filename-case": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "unicorn/no-abusive-eslint-disabl": "off"
  }
}
